/* MatchHistory.css */

h2 {
  color: #333;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto; /* Center the list */
}

li {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex; /* Align items horizontally */
  align-items: center; /* Center align items */
  transition: box-shadow 0.2s ease, background-color 0.3s ease; /* Smooth transition for hover and background color */
}

.match-item.victory {
  background-color: #608ef3; /* Blue/green for victory */
  color: white;
}

.match-item.defeat {
  background-color: #f16157; /* Red for defeat */
  color: white;
}

li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.champion-icon {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  margin-right: 15px; /* Space between image and text */
  border: 2px solid #ddd; /* Border around the image */
  border-radius: 50%; /* Round the image */
}

.match-info {
  flex-grow: 1; /* Allow text to take remaining space */
}

.match-result {
  font-size: 1.2em; /* Make the result text bold */
  font-weight: bold;
  margin-right: 15px; /* Space between result text and image */
}

h3 {
  margin: 0;
  font-size: 1.2em;
  color: #2c3e50; /* Darker color for headings */
}

p {
  margin: 5px 0;
  color: #555; /* Slightly lighter text color */
  font-size: 0.9em; /* Smaller font size for details */
}

/* Additional hover effect to make the item stand out */
li:hover .champion-icon {
  border-color: #aaa; /* Change border color of champion icon on hover */
}