/* MatchHistory.css */

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  max-width: 900px;
  margin: 0 auto;
}

li {
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: box-shadow 0.2s ease, background-color 0.3s ease;
}

.match-item.victory {
  background-color: #608ef3; /* Blue for victory */
  color: white;
}

.match-item.defeat {
  background-color: #f16157; /* Red for defeat */
  color: white;
}

li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.champion-icon {
  width: 60px; /* Make the icon square */
  height: 60px; /* Make the icon square */
  margin-right: 20px;
  border: 2px solid white; /* White border around the icon */
  border-radius: 8px; /* Slightly rounded corners */
}

.match-info {
  flex-grow: 1; /* Take up the remaining space */
  display: flex;
  flex-direction: column;
}

.match-result {
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 15px;
}

h3 {
  margin: 0;
  font-size: 1.3em;
  color: white; /* Make it consistent with background contrast */
}

.match-detail-group {
  display: flex;
  justify-content: space-between; /* Distribute the space between detail sections */
  font-size: 0.9em;
  margin-top: 5px;
}

.match-detail-group > div {
  width: 32%;
  color: white;
}

.match-detail-group p {
  margin: 5px 0;
}

.match-info p {
  margin: 5px 0;
  color: white;
}

li:hover .champion-icon {
  border-color: #aaa; /* Change border color of champion icon on hover */
}